@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Anton", sans-serif;

}

.header {
    background: url("img/header-bg.jpg");
    background-size: cover;
    padding-top: 57px;
    padding-bottom: 322px;
}

.nav {
    display: flex;
    align-items: center;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.logo {
    margin: 0 69px 0 0;
}

.menu-list {
    align-items: center;
    list-style: none;
    gap: 40px;
    display: flex;
}

.menu-link {
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.6s ease 0s;

}

.phone {
    margin-left: auto;

}

.phone-link {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.6s ease 0s;
}

.offer {
    margin-top: 216px;
}

.text {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.title {
    font-weight: 400;
    font-size: 100px;
    line-height: 151px;
    color: white;
    text-transform: uppercase;
}

.bottom {
    color: white;
    text-decoration: none;
    width: 238px;
    height: 57px;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid white;
    transition: all 0.6s ease 0s;
}

.bottom:hover {
    color: brown;
    outline: 1px solid brown;
}

.phone-link:hover {
    color: brown;
}

.menu-link:hover {
    color: brown;
}

.about-title {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
}

.item-title {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
}

.item-text {
    font-family: 'Open Sans', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    color: black;
}


.about-description {
    display: flex;
    margin-bottom: 67px;
    gap: 36px;

}

.about-images {
    display: flex;
    gap: 29px;
}

.about-title {

    margin-bottom: 56px;
}

.about {

    margin-top: 113px;
    margin-bottom: 114px;
}

.item-title {

    margin-bottom: 19px;
}

.text-footer {
    margin-right: 55px;

}

.footer span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}